<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">New Product</h1>
            <form action="/products" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Product Name">
                </div>
                <div class="mb-3">
                   <label for="img" class="form-label">Image Url</label>
                   <input type="text" class="form-control" name="img" id="img" placeholder="Image url">
                   <button class="browse" href="browse.html">Browse/Drag and Drop</button>
               </div>
               <div class="mb-3">
                   <label for="price" class="form-label">Price</label>
                   <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">&#8377;</span>
                    <input type="number" class="form-control" name="price" id="price" placeholder="Price" aria-label="Username" aria-describedby="basic-addon1">
                   </div>
               </div>
               <div class="mb-3">
                   <label for="desc" class="form-label">Description</label>
                   <textarea class="form-control" name="desc" id="desc" rows="5"></textarea>
               </div>
               <button type="submit" class="btn btn-success btn-small submit-btn">Submit</button>
            </form>

        </div>
    </div>


</main>

<%- include("../partials/footer") %>